asgiref
async-timeout
blinker
boto3
botocore
certifi
cffi
channels
charset-normalizer
click
colorama
cryptography
decouple
defusedxml
dj-database-url
Django
django-allauth
django-ckeditor
django-cors-headers
django-crispy-forms
django-extensions
django-filter
django-js-asset
django-redis
django-social-share
django-storages
djangorestframework
djangorestframework-jsonapi
djongo
dnspython
exceptiongroup
Flask
future
gunicorn
idna
importlib-metadata
inflection
iniconfig
itsdangerous
Jinja2
jmespath
MarkupSafe
mysql
mysql-connector
mysqlclient
oauthlib
packaging
Pillow
pip
pluggy
psycopg2
pycparser
PyJWT
pymongo
pytest
pytest-django
python-dateutil
python-decouple
python-dotenv
python3-openid
pytz
redis
requests
requests-oauthlib
s3transfer
serializers
setuptools
six
sqlparse
tomli
typing_extensions
tzdata
urllib3
Werkzeug
whitenoise
zipp
