{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  .blog-img {
      width:30px;
      height:30px;
   }

  .blog-item {
    background-color:#88b4e0;
    color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    width: 80%;
    margin-left: 40px;
    margin-top: 40px;
    display:flex;
    align-items: center;
  }

  .blog-item p {
    color:#000;
    font-weight: bold;
    margin-left: 20px;
  }

  #search-form {
    display:flex;
    justify-content:center;
    margin-top:20px;
  }

</style>


<div class="search-form">
  <form method="GET" action="{% url 'blog-home' %}" id="search-form">
      <input type="text" name="query" placeholder="Search...">
      <input type="submit" value="Search">
  </form>
  
  <script>
      var timeout;

      function submitForm() {
          clearTimeout(timeout);
          timeout = setTimeout(function () {
              document.getElementById('search-form').submit();
          }, 700); 
      }
  </script>

    <a href="{% url 'create_blog' %}">Write a Blog</a>

    {% load social_share %}

    {% for post in blogs %}
        <article class="blog-item">
          <img class="blog-img" src="{{ post.author.avatar.url }}" alt="Blog-Image">
          <div class="media-body ml-3">
            <div class="article-metadata">
              <a class="blog-author" href="{% url 'profile' post.author.id %}">{{ post.author.name }}</a>
              <small class="blog-date">{{ post.date_posted|date:'F d Y' }}</small>
            </div>
            <h2><a class="blog-title" href="{% url 'blog_post_detail' post.pk %}">{{ post.title }}</a></h2>
            <p class="blog-short-desc">{{ post.content | truncatewords:15 | safe }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}