{% extends "base.html" %}

{% block content %}
<style>
    p {
        color: #000;
    }

    a {
        text-decoration:None;
        font-weight: bolder;
        font-size: 20px;
    }
</style>
<a href = "{%url 'blog-home' %}"> <- Back to all Blogs </a>
</br>
<h1>{{ post.title }}</h1>
<p class="author"><strong>Author : </strong><a href="{% url 'profile' post.author.id %}">{{ post.author.name }}</a></p>
<p class="published-date">Published on: {{ post.date_posted }}</p>
<p class="post-content">{{ post.content | linebreaks | urlize}}</p>
</br>
{% if user == post.author %}
<a href= "{% url 'delete_blog' post.pk %}" class="delete-blog-link">Delete Blog</a>
{% endif %}

{% endblock content %}