{% extends "base.html" %}
{% block content %}
<style>

    .event-cards {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
    }

    .event-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        margin: 10px;
        padding: 10px;
        width: 200px;
        text-align: center;

    }
    
    .event-avatar {
        max-width: 100%;
        max-height: 100px;
        border-radius: 8px;
    }

    .event-card p {
        font-weight: bold;
        text-align:left;

    }
    .register-button {
        background-color: #000;
        color: white;
        padding: 4px 6px;
        text-decoration: None;
        border-radius: 5px;
        cursor: pointer;
    }

    .search-form {
        margin: 20px 0;
        text-align: center;
    }

    #search-form {
        display: inline-block;
    }

    h2 {
        text-align:center;
    }

</style>

<h1>Unleash Your Potential at Upcoming Hackathons</h1>
<p>Get ready to dive into a world of innovation, collaboration, and endless possibilities. Join us at these upcoming hackathons and let your creativity flourish!</p>

<p>Ready to embark on a coding adventure? Explore these events and let your innovation shine.
</br> Register now, and be part of a community that thrives on pushing boundaries and redefining what's possible!</p>
<div class="search-form">
    <form method="GET" action="{% url 'search_events' %}" id="search-form">
        <input type="text" name="query" placeholder="Search...">
        <input type="submit" value="Search">
    </form>
    
    <script>
        var timeout;

        function submitForm() {
            clearTimeout(timeout);
            timeout = setTimeout(function () {
                document.getElementById('search-form').submit();
            }, 700); 
        }
    </script>
</div>
<div>
    <ul>
        {% if events %}
            <div class="event-cards">
                {% for event in events %}
                <div class="event-card">
                <img class="event-avatar" src="{{ event.avatar.url }}" alt="Event Avatar" style="max-width: 150px; max-height: 150px;">
                    <h4>{{ event.title }}</h4>
                    <p>{{ event.description | linebreaks | truncatewords:10 }}</p>
                    <a href="{% url 'event_page' pk=event.id %}" class="register-button">Register</a>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <h3>Nothing to explore</h3>
                <a href="{% url 'home' %}">
                    <h3>Explore 💁‍♂️</h3>
                </a>
            {% endif %}
    </ul>
</div>
{% endblock content %}