{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}?v=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    {% include 'navbar.html' %}
</head>
<body style="
    background-color: #fee8ff;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;"
>
    {% block content %}
    {% endblock %}

</body>
</html>