{% extends "base.html" %}

{% block content %}
    <div class="event-details">
        <div class="event-title">
            <img src="{{ event.avatar.url }}" alt=Event-img style="max-width: 350px; max-height: 350px;">
            <h1>{{event.title}}</h1>
        </div>
        <div class="event-description">
            
            <p>{{event.description | linebreaks | urlize}}</p>
            {% if event.reg_deadline < now %}
            <p><strong>Registration is over</strong></p>
            {% elif event.reg_deadline > now %}
            <p><strong>Registration deadline : {{event.reg_deadline}}</strong></p>
            {% elif event.end_date < now %}
                <h4>Event has ended on {{event.end_date}}</h4>
            {% endif %}

        </div>
        {% if request.user in event.participants.all %}
        <h4 style="color:red;">You've already registered for the event</h4>
        {% else %}
        <a href="{% url 'event_conf' event.slug %}" class="event-reg-link">Register for the Event</a>
        {% endif %}

        {% if user.submission_set.exists %}
        <ul>
            {% for sub in user.submission_set.all %}
                <li>
                    <a href="{% url 'update_submission' slug=sub.slug %}">Update the Submission</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            {% if request.user in event.participants.all %}
                {% if event.start_date < now and event.end_date > now %}
                    <a href="{% url 'project_submission' slug=event.slug %}">Project Submission</a>
                {% elif event.start_date > now %}
                    <h3>Thanks for registration. Please wait till the event start: {{event.start_date}}</h3>
                {% endif %}
            {% else %}
                    <h3>Please register for the event and wait for the event to start to make submissions</h3>
            {% endif %}
        {% endif %}
    </div>
    <div class="event-participants">
        <h3>Event participants</h3>
        {% for user in event.participants.all %}
            <div>
                <strong>{{user.username}}</strong>
            <div>
        {% endfor %}
    </div>

{% endblock %}
