{% extends "base.html" %}
{% block content %}
<div class="container">
    <header>
        {% comment %} {% load socialaccount %} {% endcomment %}
    </header>

    <section class="events">
        <h1>Events</h1>
        <div class="events-lists">
            {% for event in events %}
                <a href="{% url 'event_page' event.id %}">
                    <div class="event-item">
                        {{ event.title }}
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="users">
        <h1>Users</h1>
        <div class="users-lists">
            {% for user in users %}
                <div class="user-item">
                    {{ user.name }}
                </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}
