{% extends "base.html" %}

{% block content %}

<div class="user-info">
    {{ user.id }}
    {{ user.username }}
    {{user.name}}

</div>

<div class="user-events">
    {% comment %} {% if user.events.exists %} {% endcomment %}

        {% for event in user.events.all %}
            <p><a href="{% url 'event_page' pk=event.pk %}">{{event.title}}</a></p>
            
        {% endfor %}

    {% comment %} {% else %}
        <p>No events</p>
    {% endif %} {% endcomment %}
</div>

{% endblock %}