{% extends "base.html" %}

{% block content %}

<div class="user-info">
    {{ user.id }}
    {{ user.username }}
    {{user.name}}

</div>

<div class="user-events">
    {% if user.events.exists %}
        {% for event in user.events.all %}
            <p><a href="{% url 'event_page' pk=event.pk %}">{{event.title}}</a></p>
            
        {% endfor %}

    {% else %}
        <p>Not registered to any of the events</p>
        <a href="{% url 'home' %}">Explore Events</a>
    {% endif %}
</div>

{% endblock %}