{% extends "base.html" %}

{% block content %}

<div class="user-info">
    {% comment %} {{ user.id }} {% endcomment %}
    {{ user.name }}
    {% if user.bio %}
        {{ user.bio }}
    {% else %}
        <p>No bio available</p>
    {% endif %}
</div>


<div class="user-events">
    {% if user.events.exists %}
        {% for event in user.events.all %}
            <p><a href="{% url 'event_page' pk=event.pk %}">{{event.title}}</a></p>
            
        {% endfor %}

    {% else %}
        <p>Not registered to any of the events</p>
        <a href="{% url 'home' %}">Explore Events</a>
    {% endif %}
</div>

{% endblock %}